<!DOCTYPE html>
<html lang="ja">
<head>
  <%- include('common/common_head') %>
  <link rel = 'stylesheet' type = 'text/css' href = '/customer/static/public/shop.css' />
  <link rel = 'stylesheet' type = 'text/css' href = '/customer/static/public/header.css' />
</head>
<body>
  <div id="wrapper">
    <!-- header -->
    <%- include('header') %>

    <!-- 本文 -->
    <div class="maincontent">
    <% if(rows) { %>
      <% rows.forEach( (row) => { %>
        <div class="productList">
          <div class="syousai">
          <% if(row.gazou === "") { %>
            <img src= "../../customer/static/public/images/no image.png" class="img" name="<%= row.code %>">
          <% } else {%>
            <img src= "../../customer/static/public/images/<%= row.gazou %>" class="img" name="<%= row.code %>">
          <% } %>
          </div>
          <div class="syousai syousaisyouhin">
            <a href="./shop_product?code=<%= row.code %>">
              <div><%= row.name %></div>
              <div><%= row.price %>円</div>
            </a>
          </div>
          <div class="syousai">
            <div class="cartLink">
              カートに入れる
            </div>
            <div class="sakuzyo">
              削除
            </div>
            <div>
              追加日：<%= date.year %>年<%= date.month %>月<%= date.day %>日
            </div>

            <input type="hidden"  name="code" value="<%= row.code %>">
            <input type="hidden"  name="name" value="<%= row.name %>">
          </div>
        </div>
      <% }); %>
    <% } %>
    </div>

    <!-- footer -->
    <footer>
      <%- include('footer') %>
    </footer>
  </div>

  <!-- script -->
  <script type="text/javascript" src = '/customer/static/protected/header.js'></script>
  <script type="text/javascript" src = '/customer/static/protected/shop_wishList.js'></script>
</body>
</html>