<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8" />
  <title><%= title %></title>
	<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<link rel = 'stylesheet' type = 'text/css' href = '/static/public/staff.css' />
</head>
<body>
  <% if(row.length === 0) { %>
    商品が選択されていません。
  <% } else { %>
    商品修正<br />
    <br />
    商品コード:<%= row[0].code %><br />

    <form action = "./product_edit_check" method = 'post' enctype = 'multipart/form-data'>
      <input type="hidden" name="code" value="<%= row[0].code %>">
      <input type="hidden" name="gazou_name_old" value="<%= row[0].gazou %>">
      商品名<br />
      <input type = 'text' name = 'name' style = "width:100px" value = '<%= row[0].name%>'><br />
      価格<br />
      <input type = 'text' name = 'price' style = "width:100px" value = '<%= row[0].price%>'><br />
      <br />
      <img src ="/static/public/images/<%= row[0].gazou %>"><br />
      画像を選んでください。<br />
      <input type="file" name="gazou" style = "width:400px"><br />

      <input type = 'button' id = 'back' value = '戻る'>
      <input type = 'submit' value = 'OK'>
    </form>
  <% } %>
	<script type="text/javascript" src = '/static/protected/staff_check.js'></script>
</body>
</html>